body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif; 
    max-width: 650px;
    margin: 0 auto;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

.portrait {
   width: 30%;
}

footer {
    color: #888888;
    border-top: 1px #eeeeee solid;
    margin-top: 1rem;
    padding: 1rem 0;
}

header {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

header h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

header a {
    color: #888888;
    margin-right: 1rem;
    text-decoration: none;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}